* {
	box-sizing: border-box;
}

body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	background-color: #3f3f3f;
}

.container {
	width: fit-content;
}

.card {
	background: #181818;
	border-radius: 25px;
	margin-top: 20px;
}

.btn {
	height: 75px;
	width: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.display {
	width: 300px;
	white-space: nowrap;
	font-size: 2em;
	padding: 10px 20px;
	text-align: right;
	overflow: auto;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(46, 46, 46);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(46, 46, 46);
}

#displayNumber {
	white-space: nowrap;
}

#operateNumber {
	height: 16px;
}

@media screen and (max-width: 513px) {
	.button {
		padding: 5px;
	}
	.flex-container-column {
		width: 100%;
	}

	.history {
		width: 100%;
	}
}
